<FlexboxLayout class="page">
    <StackLayout class="form">
     <Image src="res://icon" stretch="aspectFill"></Image>
     <Label class="header" text="Siembras"></Label>
     <PreviousNextView>
        <GridLayout rows="auto,auto">
            <StackLayout row="0" class="input-field">
                <TextField class="input" hint="Email" keyboardType="email"
                    autocorrect="false" autocapitalizationType="none"
                    [(ngModel)]="usuario.email">
                </TextField>
            </StackLayout>
            <StackLayout row="1" class="input-field">
                <TextField secure="true" class="input" hint="Password"
                [(ngModel)]="usuario.password" autocorrect="false" autocapitalizationType="none">
                </TextField>
            </StackLayout>
             <ActivityIndicator rowspan="3" [busy]="isBusy" color="#a4ca1c" 
                    width="120" height="120" (busyChange)="onBusyChanged($event)">
            </ActivityIndicator>
        </GridLayout>
    </PreviousNextView>
        <Button [isEnabled]="!isBusy" text="Ingresar" (tap)="ingresar()" class="btn btn-primary"></Button>
    </StackLayout>
</FlexboxLayout>